<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="userServiceId" class="imooc.demo1.UserServiceImpl" >
        <property name="name" value="李四"></property>
    </bean>

    <!--bean的构造方法的属性注入-->
    <bean id="user" class="imooc.demo4.User">
        <constructor-arg name="name" value="李蟠辰"/>
        <constructor-arg name="age" value="26"/>
    </bean>

    <!--bean的set方法属性注入,ref是引入其他bean的名字-->
    <bean id="person" class="imooc.demo4.Person">
        <property name="name" value="张露"></property>
        <property name="age" value="24"></property>
        <property name="cat" ref="cat"></property>
    </bean>

    <bean id="cat" class="imooc.demo4.Cat">
        <property name="name" value="ketty" />
    </bean>


    <!--bean的p名称空间的属性注入-->
    <bean id="person2" class="imooc.demo4.Person" p:name="张露p" p:age="24" p:cat-ref="cat2"/>

    <bean id="cat2" class="imooc.demo4.Cat" p:name="小黄"/>


    <!--spel的属性注入-->

    <bean id="category" class="imooc.demo4.Category">
        <property name="name" value="#{'手机'}"/>
    </bean>

    <bean id="product" class="imooc.demo4.Product">
        <property name="name" value="#{'iphone11Pro'}"/>
        <property name="price" value="#{productInfo.calculatePrice()}"/>
        <property name="category" value="#{category}"/>
    </bean>

    <bean id="productInfo" class="imooc.demo4.ProductInfo"/>


    <!--复杂类型的输入(集合类型)-->
    <bean id="collectionBean" class="imooc.demo5.CollectionBean">
        <!--数组类型-->
        <property name="arrs">
            <list>
                <value>aaa</value>
                <value>bbb</value>
                <value>ccc</value>
            </list>
        </property>

        <!--list集合-->
        <property name="list">
            <list>
                <!--普通类型的值-->
                <value>111</value>
                <value>222</value>
                <value>333</value>
                <!--对象类型的值-->
                <!--<ref></ref>-->
            </list>
        </property>

        <!--set集合注入-->
        <property name="set">
            <set>
                <value>s1</value>
                <value>s2</value>
                <value>s3</value>
            </set>
        </property>

        <!--map-->
        <property name="map">
            <map>
                <entry key="张露年龄" value="24"></entry>
                <entry key="邹傲霜年龄" value="26"></entry>
                <entry key="陈雨年龄" value="22"></entry>
            </map>
        </property>

        <!--property属性注入-->
        <property name="properties">
            <props>
                <prop key="username">root</prop>
                <prop key="password">123456</prop>
            </props>
        </property>


    </bean>


</beans>